#blue {
    background-color: blue;
    border-color: red;
    border-style: 
}

#green {
    background-color: green;
    border-color: red;
}

#yellow {
    background-color: yellow;
    border-color: red;
}

#story-text {
    color: white;
}