html { 
	height: 100%;
	
 }

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

#main-body {
	flex: 1;
	display: flex;
	flex-direction: column;
}

#main-row {
	display: flex;
	flex: 1;
}

#left-panel {
	/*flex: 1;*/
	display: flex;
	justify-content: space-around;

}

#center-panel {
	flex: 3;
}

#right-panel {
	flex-direction: column;
	display: flex;
	justify-content: space-around;
}

#blue {
    background-color: blue;
    border-color: red;
    border-style: 
}

#green {
    background-color: green;
    border-color: red;
}

#yellow {
    background-color: yellow;
    border-color: red;
}

#story-text {
	color: white;
}

#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top:20px;
}

footer {
	margin: -20px -11px 0px -11px;
}

#left-panel {
	display: flex;
}

.player-score {
	background-color: grey;
	color: white;
}

#given-cards .card-panel {
	margin-bottom: 0px;
}

#given-cards {
	margin-bottom: 0px;
}

#chat-section-row {
	margin-bottom: 0px;
}

/*Margaret's CSS*/

	#player-score-div {
		height: 100%;
		margin-bottom: 20px;
	}
	#player-one-bar {
	    width: 15px;
	    height: 100%;
	    background-color: grey;
	    position: relative;
	}
	#player-one-progress {
	    width: 15px;
	    height: 20px;
	    background-color: green;
	    position: absolute;
	    bottom: 0px;
}
